*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    margin-left: 10%;
    margin-right: 10%;
    background-color: hsl(216, 50%, 16%);
}

/* NAV */
.header{
}
.nav{
    background-color: hsl(217, 54%, 11%);
    width: 80%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 4rem;
    margin-left: 1rem;
    border-radius: 5rem;
}
.nav ul{
    display: flex;
}
a{
    text-decoration: none;
    color: rgb(173, 168, 168);
    font-weight: 700;
}
.nav li{
    list-style: none;
    padding: 0 2rem;
}

/* section1 */
.section1{
    padding-top: 6rem;
}
.m-1{
    color: #c6c6c6;
}
.m-1 h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: .5rem;
}
.m-1 p{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
}

/* section2 */
.section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    padding-bottom: 3rem;
}
.section2 .box-img img{
    width: 15rem;
}
.section2 .box-img2 img{
    width: 2rem;
}

.box-img{
    padding: 2rem;
    margin: 1rem;
    background-color: #919191;
    border-radius: 20px;
    border: 5px rgb(87, 86, 86) solid;
}
.box-img img{
    border-radius: 35px;
}
.about-me{
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #4c4c4c;
    background-color: #919191;
    border-radius: 20px;
    border: 5px rgb(87, 86, 86) solid;
}
.about-me h2{
    padding-bottom: 1rem;
    font-size: 2rem;
}
.about-me p{
    padding: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.div-button{
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.download-cv{
    border-radius: 20px;
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: hsl(216, 46%, 29%);
}

.about-me2{
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: #4c4c4c;
    background-color: #919191;
    border-radius: 20px;
    border: 5px rgb(87, 86, 86) solid;
}
.about-me2 .name-detalle{
    padding-bottom: 1rem;
    font-size: 2rem;
}
.about-me2 p{
    margin-top: 2.2rem;
    font-size: 1.5rem;
}
.redes-social{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.box-img2{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;
}
.box-img2 img{
    background-color: white;
    border-radius: 10px;
}

/* section3 */
.section3 img{
    width: 13rem;
    height: 20rem;
}